# Minimal MySQL config for ~512 MB droplets
[mysqld]
innodb_buffer_pool_size=64M
innodb_log_buffer_size=4M
innodb_log_file_size=16M
performance_schema=OFF
skip-name-resolve
max_connections=30
table_open_cache=64
tmp_table_size=8M
max_heap_table_size=8M
thread_cache_size=4
sort_buffer_size=256K
read_buffer_size=256K
read_rnd_buffer_size=256K
join_buffer_size=256K
key_buffer_size=8M
